<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Controlador</servlet-name>
        <servlet-class>Controlador.Controlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modificarRol</servlet-name>
        <servlet-class>Controlador.modificarRol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modificarReserva</servlet-name>
        <servlet-class>Controlador.modificarReserva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modificarRerserva</servlet-name>
        <servlet-class>Controlador.modificarRerserva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controlador</servlet-name>
        <servlet-class>Controlador.controlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>poolBooking</servlet-name>
        <servlet-class>Controlador.poolBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnviarCorreo</servlet-name>
        <servlet-class>Controlador.EnviarCorreo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buscarPersona</servlet-name>
        <servlet-class>Controlador.buscarPersona</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controlador</servlet-name>
        <url-pattern>/Controlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modificarRol</servlet-name>
        <url-pattern>/modificarRol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modificarReserva</servlet-name>
        <url-pattern>/modificarReserva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modificarRerserva</servlet-name>
        <url-pattern>/modificarRerserva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controlador</servlet-name>
        <url-pattern>/controlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>poolBooking</servlet-name>
        <url-pattern>/poolBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnviarCorreo</servlet-name>
        <url-pattern>/EnviarCorreo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buscarPersona</servlet-name>
        <url-pattern>/buscarPersona</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/error404.html</location>
    </error-page>
</web-app>
